@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #ff3700;
}

body {
    background: #202124; 
    font-family: 'Poppins', 'sans serif';
}


.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../images/movies/inside-out-2.png') no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: 0.5s;
}

.banner::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5)
}

.content {
    position: relative;
    max-width: 550px;
    display: none;
    visibility: hidden;
    transform: scale(0);
    transition: 0.5s;
}

.content.active {
    display: block;
    visibility: visible;
    transform: scale(1);
    transition: 0.5s;
}

.movie-title {
    max-width: 250px;
}

.banner .content h6 {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 20px;
}

.banner .content h6 span {
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.banner .content h6 span:first-child {
    padding-left: 0;
}

.banner .content h6 span:last-child {
    border-right: none;
}

.banner .content h6 span i {
    background: var(--primary);
    color: #ffffff;
    padding: 0 8px;
    display: inline-block;
    border-radius: 2px;
}

.banner .content p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    text-align: justify;
    color: #ffffff;
    margin: 10px 0 20px;
}

.banner .carousel-box {
    position: relative;
    min-width: 950px;
    height: 400px;
    display: flex;
    margin-left: 15px;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
} 

.carousel {
    position: relative;
    height: 550px;

}

.carousel .carousel-item {
    width: 250px;
    cursor: pointer;
}  

.carousel .carousel-item img {
    max-width: 235px;
    border-radius: 10px;
    transform: translateX(8px) translateY(-100px);
    object-fit: cover;
    object-position: center;
}
   
.play {
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2em;
    cursor: pointer !important;
    transition: 0.2s;
}

.play i {
    margin-right: 10px;
    font-size: 40px;
    cursor: pointer !important;
}

/*FOR BOOKING SECTION*/

/* Container for the bookings section */
.bookings-banner {
    position: relative;
    width: 100%;
    min-height: 100px;
    color: #ffffff;
    text-align: center;
    padding: 30px 20px;
    margin: 60px auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    max-width: 800px;
    margin-top: 120px;
}

.bookings-banner-title {
    font-size: 2.2em;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.bookings-banner-description {
    font-size: 1.1em;
    font-weight: 300;
    color: #dddddd;
    margin: 0;
    opacity: 0.9;
}

/* Bookings Container */
.bookings-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 20px;
    padding: 20px 100px 60px;
    margin: 200px 100px auto 100px;
    max-width: 100%;
}

/* Card Styles */
.card {
    border-radius: 10px;
    overflow: hidden;
    background: #222;
    transition: transform 0.3s;
    width: 100%;
    height: 100%;
    max-width: 250px;
    min-height: 380px;
    box-sizing: border-box;
}

.red-color {
    background-color: #e50914;
}

.card:hover {
    transform: scale(1.05);
}

/* Card Image */
.card-image img {
    width: 100%;
    height: auto;
}

/* Card Content */
.card-content {
    color: #dddddd;
    padding: 10px;
}

/* Card Action (Manage Ticket Button) */
.card-action {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

/* Card Title */
.card-title {
    padding: 10px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-align: left;
}

/* Media Queries for Containers*/
@media (max-width: 768px) {
    .bookings-container {
        grid-template-columns: 1fr;
    }
    
    .card {
        max-width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .bookings-container {
        gap: 30px;
    }
    .card {
        max-width: 280px;
        min-height: 380px;
    }
}

/* LOGIN PAGE */
main.login-container {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/login_bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    position: relative;
    width: 100%;
    max-width: 1020px;
    height: 640px;
    background-color: #ffffff;
    border-radius: 3.3rem;
    box-shadow: 0 60px 40px -30px rgba(255, 255, 255, 0.27);
    }
.inner-box{
    position: absolute;
    width: calc(100% - 4.1em);
    height: calc(100% - 4.1em);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.forms-wrap {
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: 0.8s ease-in-out;
}

form {
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
    opacity: 0;
    pointer-events: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    margin-right: 0.5rem;
}

.logo h4 {
    font-size: 40px;
    color: #e50914;
    letter-spacing: 1px;
    font-weight: 800;
}

.fa-solid {
    color: #151111;
    margin-left: 16rem;
    margin-top: 1rem;
    cursor: pointer;
    top: 0;
    position: absolute;
}

.heading h2 {
    font-size: 2.1rem;
    font-weight: 600;
    color: #202124; 
}

.heading h6 {
    color: #bababa;
    font-weight: 400;
    font-size: 0.75rem;
    margin-top: 0.5rem;
    display: inline;
}

.toggle {
    color: #202124; 
    text-decoration: underline;
    font-size: 0.75rem;
    font-weight: 500;
    transition: 0.3s;
}

.toggle:hover {
    color: #ff3700;
}
.input-wrap {
    position: relative;
    height: 37px;
    margin-bottom: 2rem;
}

.input-field {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #ffffff;
    padding: 0;
    font-size: 0.95rem;
    color: #202124; 
    transition: 0.4s;
}


label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.95rem;
    color: #bbb;
    pointer-events: none;
    transition: 0.4s;
}

.input-field.active {
    border-bottom-color: #202124; 
}

.input-field.active + label{
    font-size: 0.75rem;
    top: -2px;
}

.sign-btn {
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: #e50914; 
    color: #ffffff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    transition: 0.3s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-btn:hover {
    background-color: #ff3700;
}

main.sign-up-mode form.sign-in-form {
    opacity: 0;
    pointer-events: none;
}

main.sign-up-mode form.sign-up-form {
    opacity: 1;
    pointer-events: all;
}

main.sign-up-mode .forms-wrap {
    left: 55%;
}

main.sign-up-mode .login-carousel {
    left: 0%;
}

.login-carousel {
    position: absolute;
    height: 100%;
    width: 55%;
    left: 45%;
    top: 0;
    background-color: #202124fb; 
    border-radius: 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
    padding-bottom: 2rem;
    transition: 0.8s ease-in-out;
    overflow: hidden;
}

.images-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.image {
    padding: 3rem;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    opacity: 0;
    transition: opacity 0.3s, transform 0.5s;
}

.img-1 {
    transform: translate(0, -50px);
}

.img-2 {
    transform: scale(0.4, 0.5);
}

.img-3 {
    transform: scale(0.3) rotate(-20deg);
}

.image.show {
    opacity: 1;
    transform: none;
}

.text-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-wrap {
    max-height: 2.2rem;
    overflow: hidden;
    margin-bottom: 2.5rem;
}

.text-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateY(0rem);
    transition: 0.5s;
    color: #ffffff;
}

.text-group h2 {
    line-height: 2.2rem;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
}

.bullets {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bullets span{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #aaa;
    margin: 0 0.25rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.bullets span.active{
    width: 1.1rem;
    background-color: #ffffff;
    border-radius: 1rem;
}

@media (max-width: 850px){
    .box{
        height: auto;
        max-width: 550px;
        overflow: hidden;
    }
    
    .inner-box{
        position: static;
        transform: none;
        width: revert;
        height: revert;
        padding: 2rem;
    }

    .forms-wrap{
        position: revert;
        width: 100%;
        height: auto;
    }

    .heading{
        margin: 2rem 0;
    }

    form.sign-up-form{
        transform: translateX(100%);
    }

    main.sign-up-mode form.sign-in-form{
        transform: translateX(-100%);
    }

    main.sign-up-mode form.sign-up-form{
        transform: translateX(0%);
    }

    .fa-solid{
        margin-left: 28rem;
        margin-top: 1rem;
    }

    form{
        max-width: revert;
        padding: 1.5rem 2.5rem 2rem;
        transition: transform 0.8s ease-in-out, opacity 0.45s linear;
    }
    .login-carousel{
        position: revert;
        height: auto;
        width: 100%;
        padding: 3rem 2rem;
        display: flex;
    }

    .images-wrapper{
        display: none;
    }

    .text-slider{
        width: 100%;
    }
}


@media (max-width: 530px){
    main.login-container{
        padding: 1rem;
    }

    .box{
        border-radius: 2rem;
    }

    .inner-box{
        padding: 1rem;
    }

    .login-carousel{
        padding: 1.5rem 1rem;
        border-radius: 1.6rem;
    }

    .text-wrap{
        margin-bottom: 1rem;
    }

    .text-group h2{
        font-size: 1.2rem;
    }

    .fa-solid{
        margin-left: 27rem;
        margin-top: 1rem;
    }

    form{
        padding: 1rem 2rem 1.5rem;
    }
}

/* More Info page */
main.moreInfo-container {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #202124;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moreInfo-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: 0.8s ease-in-out;
}

.moreInfo-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: 0.8s ease-in-out;
}

.moreInput-wrap{
    position: relative;
    height: 37px;
    margin-bottom: 2rem;
}

.moreInfo-form{
    width: 100%;
}

.input-field {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #ffffff;
    padding: 0;
    font-size: 0.95rem;
    color: #202124; 
    transition: 0.4s;
}

.moreInfo-box {
    position: relative;
    width: 100%;
    max-width: 1020px;
    height: 640px;
    background-color: #ffffff;
    border-radius: 3.3rem;
    box-shadow: 0 60px 40px -30px rgba(255, 255, 255, 0.27);
    
}

.signUp-btn {
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: #202124; 
    color: #ffffff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    transition: 0.3s;
    line-height: 43px; 
    text-decoration: none; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.signUp-btn:hover {
    background-color: #ff3700;
}

.moreInfo-heading h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #202124; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.moreInfo-logo h4 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: #ff3700;
    margin-bottom: -40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}


@media (max-width: 850px){
    .moreInfo-box {
        position: relative;
        width: 150%;
        max-width: 1020px;
        height: 640px;
        background-color: #ffffff;
        border-radius: 3.3rem;
        box-shadow: 0 60px 40px -30px rgba(255, 255, 255, 0.27);
    }

}

@media (max-width: 530px){
    .moreInfo-box {
        position: relative;
        width: 80%;
        max-width: 1020px;
        height: 640px;
        background-color: #ffffff;
        border-radius: 3.3rem;
        box-shadow: 0 60px 40px -30px rgba(255, 255, 255, 0.27);
    }
}